@charset "gb2312";
/*
author:johnnyhan
date:2012-05-09
*/

/*reset*/
body { margin:0; padding:0; background:#fff; font-family: "宋体", "Arial Narrow"; }
div, form, input, select, ul, ol, li, p, h1, h2, h3, h4, h5, h6, p, dd, dt, dl { margin:0; padding:0; }
ul, ol, li { list-style:none; }
body, table, select, input { font-size:12px; color:#333; }
img { border:none; }
a { color:#000; text-decoration:none; }
a:hover { color:#c00; text-decoration:underline; }
h1 { font-size: 16px; }
h2, h3 { font-size: 14px; }
h4, h5, h6 { font-size: 12px; }
.fl { float:left; }
.fr { float:right; }
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0;}
.clearfix{*zoom:1;}
.layout{ margin:0 auto; width:960px;}

.black{ background:#FFF url(http://mat1.gtimg.com/ent/mc/yldp/index/bg_body_white.jpg) 0 30px repeat-x;}
.white{ background:#FFF url(http://mat1.gtimg.com/ent/mc/yldp/index/bg_body_white.png) 0 30px repeat-x;}
.black .banner{ height:110px; overflow:hidden;}
.white .banner{ height:121px; overflow:hidden;}
.datu .banner{ height:110px; overflow:hidden;}
.outer{padding-top:40px;overflow:hidden;zoom:1;}
.black .outer{ background:black;}
.datu .outer{ padding-top:0;}
.outer .inner{ width:960px; margin:0 auto;}
.twC{ width:960px; margin-bottom:50px; position:relative;}
.twC .pic{ width:960px; height:600px; position:relative;overflow:hidden;}
.twC .pic .jt{ position:absolute; left:0; bottom:0; display:block; width:960px; height:12px; background:url(http://mat1.gtimg.com/ent/mc/yldp/index/bg_jt.png) 0 0 no-repeat;}
.twC .text{ padding:18px; line-height:26px; font-size:14px; color:#fff; background:#000;}
.anchor{ display:block; width:51px; height:67px; position:absolute; right:-61px; text-indent:-999em; overflow:hidden;}
.preAnchor{ top:0; background:url(http://mat1.gtimg.com/ent/mc/yldp/index/bg_anchor.png) -51px 0 no-repeat;}
.preAnchor:hover{ background:url(http://mat1.gtimg.com/ent/mc/yldp/index/bg_anchor.png) right 0 no-repeat;}
.nextAnchor{ top:77px; background:url(http://mat1.gtimg.com/ent/mc/yldp/index/bg_anchor.png) -51px -67px no-repeat;}
.nextAnchor:hover{ background:url(http://mat1.gtimg.com/ent/mc/yldp/index/bg_anchor.png) right -67px no-repeat;}
.black .preAnchor:hover{ background:url(http://mat1.gtimg.com/ent/mc/yldp/index/bg_anchor.png) 0 0 no-repeat;}
.black .nextAnchor{ top:77px; background:url(http://mat1.gtimg.com/ent/mc/yldp/index/bg_anchor.png) -51px -67px no-repeat;}
.black .nextAnchor:hover{ background:url(http://mat1.gtimg.com/ent/mc/yldp/index/bg_anchor.png) 0 -67px no-repeat;}
.frist .nextAnchor{ top:0;}
.bigpic{ margin-bottom:15px;}
#ckepop{ float:right; margin-bottom:15px; +margin-bottom:5px; _margin-bottom:5px;}
.black #ckepop{ color:#fff;}

/*相关文字*/
.xgwzMod { padding-bottom:10px; border-bottom:10px solid #000;}
.xgwzMod .hd{ padding:20px 65px 0; height:90px; line-height:90px; text-align:center; font-family:"微软雅黑","黑体"; background:url(http://mat1.gtimg.com/ent/mc/yldp/index/bg_xgwz.png) 0 0 no-repeat;}
.black .xgwzMod .hd{ background-position:0 -4px;}
.xgwzMod .hd h2{ font-weight:normal; font-size:36px;}
.xgwzMod .hd h2,.xgwzMod .hd h2 a{ color:#000;}
.xgwzMod .bd{ padding:0 65px 20px;}
.xgwzMod .bd p{ padding-bottom:20px; line-height:26px; font-size:14px; text-indent:2em;}
.xgwzMod .ft{ overflow:hidden; zoom:1;}
.mhryMod { padding:0 65px; font-family:"微软雅黑";}
.mhryMod dt,.mhryMod dd{ float: left; display: inline; line-height: 20px; color: #fff;zoom:1; margin-bottom:10px;}
.mhryMod dt{ padding-right: 5px; margin-right: 7px; height: 20px; background: #000 url(http://mat1.gtimg.com/ent/mc/yldp/index/bg_mh.png) right -20px no-repeat;zoom:1;}
.mhryMod dt span{ padding:0 3px 0 5px; display:inline-block; height: 20px; background: url(http://mat1.gtimg.com/ent/mc/yldp/index/bg_mh.png) 0 0 no-repeat;zoom:1;}
.mhryMod dd{ padding-right: 38px; color:#000;}


/*花絮*/
.box .hd{ margin-top:10px; height:90px; line-height:90px; overflow:hidden;}
.box .hd h2{ float:left; padding-left:20px; margin-right:10px; font-size:36px;  font-family:"微软雅黑","黑体"; font-weight:normal;}
.box .hd .more{ display:inline-block; width:37px; line-height:108px; _line-height:100px; text-indent:10px; color:#fff; height:90px; background:url(http://mat1.gtimg.com/ent/mc/yldp/index/bg_more.png) 0 45px no-repeat; _background-position:0 40px;}
.hxMod { overflow:hidden;}
.hxMod .bd { width:970px; margin-bottom:50px; overflow:hidden; zoom:1;}
.hxMod .bd .imgP{ display:inline; width:239px; height:150px; overflow:hidden; float:left; padding:0 1px 1px 0;}
.hxMod .bd .imgP img{ display:block; width:239px; height:150px; overflow:hidden;}
.hxMod .bd .imgP:hover{zoom:1;}
.hxMod .bd .imgP:hover span{ display:none;}

/*微博热议*/
.wbryMod{ width:750px; margin-top:; padding:0 0 60px 210px; background:url(http://mat1.gtimg.com/ent/mc/yldp/index/bg_wbry.png) 0 0 no-repeat; border-bottom:10px solid #000; overflow:hidden; zoom:1;}
.wbryMod .pl{ width:510px; overflow:hidden;}
.wbryMod .pr{ width:222px; overflow:hidden;}
#wbht .pic{ width:100px; float:left; overflow:hidden; margin-right:10px; _margin-right:7px; margin-bottom:15px;}
#wbht .pic img{ display:block; width:98px; height:58px; border:1px solid #cacaca; margin-bottom:5px;}
#wbht .pic em{ float:left; height:20px; line-height:20px; font-style:normal; padding-right:1px; font-weight:bold;}
#wbht .pic .attentBoxWrap{ float:left;line-height:20px; text-align:center;}
#wbht .pic .addAttention { display:inline-block; width:47px; height:20px; background:#73b534; color:#fff;}
#wbht .pic .delAttention { display:inline-block; width:47px; height:20px; background:none; color:#ccc;}
#wbht .text { line-height:24px; color:#828282;}
#wbht .text span{ color:#ff6000; font-weight:bold;}
#wbht .info{ position:relative; width:220px; border:1px solid #c1c1c1; clear:both;}
#wbht .info p{ padding:10px 15px; line-height:26px; color:#000;}
#wbht .info .jtC{ display:block;width:7px; height:6px; background:url(http://mat1.gtimg.com/ent/mc/yldp/index/bg_jt2.png) 0 0 no-repeat; position:absolute; left:12px; top:-6px;}

/*往期回顾*/
.wqhgMod .bd{ height: 220px; padding-right: 20px; position: relative; border-bottom:4px solid #e0e0e0;}
#scrWrap1{width:845px;overflow:hidden;position:relative; left: 55px;}/*宽度,overflow:hidden和相对定位是必须的属性*/
#scrWrap1 .split{float:left; width: 180px; display: inline; margin-right: 42px;}/*水平滚动的话，滚动单元必须浮动，垂直则必须不能浮动*/
#scrWrap1 .split img{ display:block; width: 180px; height: 110px; overflow: hidden; margin-bottom:10px;}
#scrWrap1 .split .text h3{ width:71px; height:26px; text-align:center; line-height:22px; text-align:center; font-weight:normal; font-size:12px; color:#000; background:url(http://mat1.gtimg.com/ent/mc/yldp/index/bg_jt3.png) 0 0 no-repeat;}
#scrWrap1 .split .text h3 span{ font-weight:bold; font-size:16px; padding-right:2px;}
#scrWrap1 .split .text p{ line-height:26px; color:#000; font-size:14px;}

#scrLeftBtn1,#scrRightBtn1{ position: absolute; left: 0; top: 35px; cursor: pointer; display: block; width: 36px; height: 51px; background: url(http://mat1.gtimg.com/ent/mc/yldp/index/bg_next.png) 0 -51px no-repeat;}/*左按钮*/
#scrRightBtn1{ background-position: right -51px; left: 920px;}
#scrLeftBtn1:hover,#scrRightBtn1:hover{ background: url(http://mat1.gtimg.com/ent/mc/yldp/index/bg_next.png) 0 0 no-repeat;}
#scrRightBtn1:hover{ background-position: right 0;}


#goTop{ display:none;position: fixed;  left: 50%; _position:absolute;_bottom:auto; margin-left: 500px; display:block; width:27px; height:93px; background:url(http://mat1.gtimg.com/ent/mc/yldp/index/bg_gotop.png) 0 0 no-repeat; text-indent:-999em; overflow:hidden;}
#goTop:hover{background-position:right 0;}
.goTop_top{ visibility:hidden;}
.goTop_btm{ display:block;bottom:200px;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0))); _margin-bottom:200px;}
/*  |xGv00|743c07b5ba384e14868d2d93f4d7ad2d */